/* Ty Mitchell */
/* 9/29/25 */
/* This page is the style sheet for the RateGames website */


/*sets background color to a dark grey*/
body {
    background-color: #2f2b2b;
}

/*general font is set to Arial with a white color*/
p {
    font-family:Arial, Helvetica, sans-serif;
    color:azure;
}

li {
    padding-bottom: 10px;
}

ul {
    font-family:Arial, Helvetica, sans-serif;
    color:azure; 
}

/*tables have a light grey background*/
table {
    font-family:Arial, Helvetica, sans-serif;
    color:azure;
    background-color:#403a3a;
}

/*puts a border on cells in a table*/
td, th {
    text-align:center;
    border-style:solid;
    border-width: 2px;
    border-color:black;
    padding-top: 20px;
    padding-bottom:20px;
}

/*all horizontal rules are colored blue to break up sections*/
hr {
    border-width: 6px;
    border-color:rgb(71, 71, 241);
}

/*untouched links are blue, visited links are purple, and hovered over links are light blue*/
a:link {
    color:white;
}

a:visited {
    color: rgb(76, 207, 255);
}


/*All headers are set to the Gill Sans font and colored white*/
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}



/*grey_background class gives text input fields a grey background and increases the font size*/
input.grey_background {
    background-color:#403a3a;
    border-width: 4px;
    border-color:black;
    border-radius: 4px;
    font-size: medium;
    color: white;
}

/*submit_button class gives form submission buttons grey with a black border*/
input.submit_button {
    background-color:#2f2b2b;
    color: azure;
    border-width: 8px;
    border-radius: 8px;
    border-color:black;
    font-size:large;
}

/*comment id is meant to give the review comment text area a grey background and icnreased font size*/
#comment {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#403a3a;
    border-width:4px;
    border-radius:4px;
    font-size: medium;
    color: white;
    border-color:black;
}

/*header class sets overflow property, background color, and adds padding*/
.header {
    overflow: hidden;
    background-color:blue;
    padding: 10px;
}

.header_logo {
    border-width:4px;
    border-radius:4px;
    border-color:black;
    float:left;
}

/*header links class floats the links to the right, changes text style, and adds padding*/
.header_links {
    float:right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: large;
    padding:5px;
}

/*hovering over links makes the font size bigger*/
a:hover {
    color:aqua;
}

/*active links have a white background with a red text color*/
a:active {
    padding: 8px;
    border-width:10px;
    border-radius:2px;
    background-color: white;
    color:purple;
}

/*styles content to have a smaller width and center in the middle of the screen*/
.content {
    width:75%;
    background-color:#2f2b2b;
    padding:10px;
    margin: auto;
}


/*clears float*/
.clear {
    clear:both;
}

/*classes to float img left, right, center*/
.float_left {
    float:left;
}

.float_right {
    float:right;
}

.content_left {
    float: left;
    width:60%;
}

.content_right {
    float: right;
    width:40%;
}

/*centers search bar header and makes font bigger*/
.search_header {
    text-align:center;
    font-size:35px;
}

/*all images should have a margin*/
img {
    margin:10px;

}

/*image border class gives image a rounded black border with a margin*/
img.border {
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: black;
}

/*class to style footer to be centered and gives it a margin*/
.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:20px;
    text-align:center;
    clear:both;
}

.active {
    padding: 8px;
    border-width:10px;
    border-radius:2px;
    background-color:#2f2b2b;
}


/*rules for screens 1600px and under*/
@media only screen and (max-width:1300px) {

    .content_right {
        float: none;
        width:100%;
    }

    .float_right {
        float:none;
    }
    .content {
        width:100%;
    }
    .content_left {
        float: none;
        width:100%;
    }
    .float_left {
        float:none;
    }
 
 
}

/*rules for screen sizes under 600*/
@media only screen and (max-width:600px) {
    /*clear floats*/
    .header_links {
        float: none;
        text-align: right;
    }

    /*set content width to make and increase font to make it more readable*/
    .content {
        width: 100%;
        font-size: 150%;
    }

    /*make images scale to the smaller screen size*/
    img {
        max-width: 100%;
        height: auto;
    }
    .content_left {
        float: none;
        width:100%;
    }

    .content_right {
        float: none;
        width:100%;
    }

    .float_left {
        float:none;
    }

    .float_right {
        float:none;
    }


    
}