/* Ty Mitchell */
/* 9/29/25 */
/* This page is the style sheet for the RateGames website */


/*sets background color to a dark grey*/
body {
    background-color: #2f2b2b;
}

/*general font is set to Arial with a white color*/
p {
    font-family:Arial, Helvetica, sans-serif;
    color:azure;
}

li {
    padding-bottom: 10px;
}

ul {
    font-family:Arial, Helvetica, sans-serif;
    color:azure; 
}

/*tables have a light grey background*/
table {
    font-family:Arial, Helvetica, sans-serif;
    color:azure;
    background-color:#403a3a;
}

/*puts a border on cells in a table*/
td {
    border-style:solid;
    border-width: 2px;
    border-color:black;
}

/*all horizontal rules are colored blue to break up sections*/
hr {
    border-width: 6px;
    border-color:rgb(71, 71, 241);
}

/*untouched links are blue, visited links are purple, and hovered over links are light blue*/
a:link {
    color:rgb(76, 207, 255);
}

a:visited {
    color:rgb(198, 143, 250);
}


/*All headers are set to the Gill Sans font and colored white*/
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

/*image border class gives image a rounded black border*/
img.border {
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: black;
}

/*grey_background class gives text input fields a grey background and increases the font size*/
input.grey_background {
    background-color:#f5e9e9;
    font-size: medium;
    color: black;
}

/*submit_button class gives form submission buttons grey with a black border*/
input.submit_button {
    background-color:#2f2b2b;
    color: azure;
    border-width: 4px;
    border-radius: 8px;
    border-color:black;
    font-size:large;
}

/*comment id is meant to give the review comment text area a grey background and icnreased font size*/
#comment {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f5e9e9;
    font-size: medium;
    color: black;
}

/*header class sets overflow property, background color, and adds padding*/
.header {
    overflow: hidden;
    background-color:blue;
    padding: 10px;
}

/*header links class floats the links to the right, changes text style, and adds padding*/
.header_links {
    float:right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: large;
    padding:5px;
}

/*hovering over links makes the font size bigger*/
a:hover {
    font-size:110%;
    color:aqua;
}

/*active links have a white background with a red text color*/
a:active {
    font-size: 30px;
    color:red;
    background-color:white;
}

/*styles content to have a smaller width and center in the middle of the screen*/
.content {
    width:75%;
    background-color:#2f2b2b;
    padding:10px;
    margin: auto;
}

.content_left {
    float: left;
    width:60%;
}

.content_right {
    float: right;
    width:40%;
}

/*clears float*/
.clear {
    float:none;
}

/*classes to float img left and right*/
.float_left {
    float:left;
    margin:10px;
}
.float_right {
    float:right;
    margin:10px;
}


/*rules for screen sizes under 600*/
@media only screen and (max-width:600px) {
    /*clear floats*/
    .header_links {
        float: none;
        text-align: right;
    }

    /*set content width to make and increase font to make it more readable*/
    .content {
        width: 100%;
        font-size: 24px;
    }

    /*make images scale to the smaller screen size*/
    img {
        width: 100%;
        height: auto;
    }
}