/* Ty Mitchell */
/* 9/29/25 */
/* This page is the style sheet for the RateGames website */


/*GENERAL STYLING FOR ELEMENTS*/
    /*sets background color to a dark grey*/
    body {
        background-color: #2f2b2b;
    }

    /*general font is set to Arial with a white color*/
    p {
        font-family:Arial, Helvetica, sans-serif;
        color:azure;
    }

    label {
        font-family:Arial, Helvetica, sans-serif;
        color:azure;
    }

    li {
        padding-bottom: 10px;
    }

    ul {
        font-family:Arial, Helvetica, sans-serif;
        color:azure; 
    }

    ol {
        font-family:Arial, Helvetica, sans-serif;
        color:azure; 
    }

    /*tables have a light grey background*/
    th {
        text-align:center;
        color:aqua;
        font-size: 125%;
        padding:30px;
        border-width:3px;
        border-style:solid;
        border-color:black;
    }
    table {
        font-family:Arial, Helvetica, sans-serif;
        border-style:solid;
        border-width: 5px;
        border-radius: 20px;
        border-color: blue;
        border-collapse: collapse;
    }

    td {
        color:azure;
        border-width:3px;
        border-style:solid;
        border-color:black;
        padding: 20px;
    }

    /*all horizontal rules are colored blue to break up sections*/
    hr {
        border-width: 6px;
        border-color:rgb(71, 71, 241);
    }

    /*untouched links are blue, visited links are purple, and hovered over links are light blue*/
    a:link {
        color:white;
        padding: 8px;
    }

    a:visited {
        color: rgb(76, 207, 255);
        padding:8px;
    }

    /*active links have a white background with a red text color*/
    a:active {
        padding: 8px;
        border-width:10px;
        border-radius:2px;
        background-color: white;
        color:purple;
    }

    /*hovering over links makes the font size bigger*/
    a:hover {
        padding:8px;
        color:aqua;
    }

    /*all images should have a margin*/
    img {
        margin:10px;
    }

    /*All headers are set to the Gill Sans font and colored white*/
    h1 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
    }

    h2 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
    }

    h3 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
    }

    h4 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
    }

    h5 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
    }

    h6 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
    }

    /*styles content to have a smaller width and center in the middle of the screen*/
    .content {
        width:75%;
        background-color:#2f2b2b;
        padding:10px;
        margin: auto;
    }

    /*clears float*/
    .clear {
        clear:both;
    }

    /*classes to float img left, right, center*/
    .float_left {
        float:left;
    }

    .float_right {
        float:right;
    }

    /*hides element so it's invisible*/
    .hide {
        border: 0;
        height:1px;
        margin:-1px;
        overflow:hidden;
        padding:0;
        position:absolute;
        width:1px;
    }

    .centerHeader {
        text-align:center;
        font-size:150%;
    }

        /*grey_background class gives text input fields a grey background and increases the font size*/
    input.grey_background {
        background-color:#2f2b2b;
        border-style:solid;
        border-width: 4px;
        border-color:rgb(74, 74, 74);
        border-radius: 4px;
        font-size: medium;
        color: white;
    }


    /*submit_button class gives form submission buttons grey with a black border*/
    input.button {
        background-color:#2f2b2b;
        padding:10px;
        border-style:solid;
        color: azure;
        border-width: 4px;
        border-radius: 8px;
        border-color:rgb(74, 74, 74);
        font-size:large;
    }
    
    /*set width of a table*/
    .recentTable {
        width:800px;
        align-items:center;
        margin:auto;
    }



/*SYLING FOR HEADER AND FOOTER
    /*header class sets overflow property, background color, and adds padding*/
    .header {
        overflow: hidden;
        background-color:blue;
        padding: 10px;
    }

    .header_logo {
        border-width:4px;
        border-radius:4px;
        border-color:black;
        float:left;
    }

    /*header links class floats the links to the right, changes text style, and adds padding*/
    .header_links {
        margin-top:20px;
        float:right;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
        font-size: large;
        padding:5px;
    }

    .header_item {
        display:inline;
        padding-left:10px;
        padding-right:10px;
    }

    /*gives nav header of current page a grey border*/
    .active {
        padding: 8px;
        border-width:10px;
        border-radius:2px;
        background-color:#2f2b2b;
    }

    /*class to style footer to be centered and gives it a margin*/
    .footer {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom:20px;
        text-align:center;
        clear:both;
    }


/*STYLING FOR HOMEPAGE*/

    .content_left {
        float: left;
        width:60%;
    }

    .content_right {
        float: right;
        width:40%;
    }


    /*image border class gives image a rounded black border with a margin*/
    img.border {
        border-style: solid;
        border-width: 4px;
        border-radius: 10px;
        border-color: black;
    }

    img.featured_border {
        border-style: solid;
        border-width: 4px;
        border-radius: 10px;
        border-color: gold;
    }


    /*classes to change color and size depending on review ranking*/
    .top_user {
        color:gold;
        font-size:130%;
    }

    .second_place {
        color:silver;
        font-size:120%;
    }

    .third_place {
        color: #CE8946;
        font-size:110%;
    }

    /*featured review is colored aquamarine and has its font size increased*/
    .featuredReviewEntry {
        color:aquamarine;
        font-size: 115%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*featured review is colored aquamarine and has its font size increased*/
    .featuredListEntry {
        color:aqua;
        font-size: 115%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*makes a text box that floats to the left for the featured users, reviews, and lists*/
    .featured {
        float:left;
        margin: 25px;
        width:300px;
    }


/*STYLING FOR REVIEWS PAGE*/


    /*comment id is meant to give the review comment text area a grey background and increased font size*/
    #comment {
        background-color:#2f2b2b;
        font-family:Arial, Helvetica, sans-serif;
        border-width:6px;
        border-radius:8px;
        font-size: medium;
        color: azure;
        border-color:rgb(74, 74, 74);
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    /*displays review preview in a box*/
    .previewCard {
        float:left;
        margin-left: 60px;
    }

    .reviewPreview {
        font-size: 150%;
        width: 440px;
        height: 480px;
        padding: 20px;

        border-style:solid;
        border-radius:1px;
        border-width:5px;
        border-color:black;
    }

    .radioRating {
        margin-right: 5px;
    }


    /*warning and error messages for form submission gaining focus and losing focus*/
    .warning {
        color:yellow;
    }

    .error {
        color:red;
    }

    /*displays stars and gold and the comment of the review preview in a light grey box*/
    .star {
        color:gold;
    }

    /*classes for displaying reviews*/

    .reviewCard {
        width: 500px;
        padding:20px;
        
        border-style: solid;
        border-width: 3px;
        border-color:black;

        margin-bottom:30px;
    }

    .commentCard {
        padding:10px;
        margin:auto;
        background-color:#403a3a;
    }

    .username {
        color:aqua;
    }

    /*make the like buttona  blue circle*/
    .likeButton {
        color:white;
        background-color:blue;
        border-style:solid;
        border-width:2px;
        border-radius:50px;
        font-size:110%;
        padding:8px;
        width:50px;
        height:50px;
    }

    .likeButton:hover {
        background-color: rgb(72, 106, 240);
    }





/*STYLING FOR LISTS PAGE*/




/*ADAPTIVE SCREEN BEHAVIOR*/

    /*rules for screens 1300px and under*/
    @media only screen and (max-width:1300px) {
        .content_right {
            float: none;
            width:100%;
        }

        .float_right {
            float:none;
        }
        .content {
            width:100%;
        }
        .content_left {
            float: none;
            width:100%;
        }
        .float_left {
            float:none;
        }
        .featured {
            float:none;
        }
        .previewCard {
            float:none;
            margin-left:0px;
        }

    }

    /*rules for screen sizes under 800*/
    @media only screen and (max-width:800px) {
        .header_item {
            display:block;
            float:none;
        }
        .header_logo {
            float:none;
        }
        .reviewTable {
            width:500px;
        }
        th {
            padding: 0px;
            margin:0px;
        }
        td {
            padding:0px;
            margin:0px;
        }

    }

    /*rules for screen sizes under 600*/
    @media only screen and (max-width:600px) {

        /*set content width to make and increase font to make it more readable*/
        .content {
            width: 100%;
            font-size: 120%;
        }

        /*make images scale to the smaller screen size*/
        img {
            max-width: 100%;
            height: auto;
        }
        .content_left {
            float: none;
            width:100%;
        }
        .content_right {
            float: none;
            width:100%;
        }
        .float_left {
            float:none;
        }
        .float_right {
            float:none;
        }
        .featured {
            float:none;
        }
        .previewCard {
            float:none;
            margin-left:0px;
        }
   
        .reviewPreview {
            height: 600px;
        }
        .reviewTable {
            width: 500px;
        }
    }